body
  padding: 20px
nav
  margin: 20px 0
  padding: 10px
  box-shadow: 0 0 0 .5px #ddd
.link
  color: #aaa
  padding: 5px
  margin: 5px
  font-weight: bold
  border-radius: 2px
  background: #f0f0f0
  text-decoration: none
  &.active
    background: #ffd700
    color: #fff